@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700italic);
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

/* INITIALISATION */
html, body{
	font-size: 15px;
	color: black;
}

.container-principal, .container-accueil {
	min-height: calc(100vh - 60px);
}
.container-principal {
	background-image: url('../../img/background.jpg');
	background-size: cover;
}

.container-accueil{

}
#carousel-homepage {
	overflow: hidden;
}
#carousel-homepage img {
	/*max-width: 1000%; */
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.titre-vin{
	font-family: 'Lora', cursive;
	font-size: 22px; 
	font-weight: 700;
	font-style: italic;
	margin-bottom: 15px;
}

/* CheckBoxes */
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + span{
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    background: url('../../img/unchecked.png');
    background-size: contain;
    margin-right: 5px;
}
input[type="checkbox"]:checked + span{
    background: url('../../img/checked.png');
    background-size: contain;
}


/* PAGE D'ACCUEIL */

/* Menu */
nav{
	display: inline-block;
}

.titles-header{
	margin-top: 18px;
}

header{
	min-height: 60px;
}

header li:hover{
	font-weight: bold;
}

header a{
	color: white;
}

header a:hover{
	color: white;
	text-decoration: none;
}

header h1{
	font-family: 'Finger Paint', cursive;
	display: inline-block;
	margin: 10px 10px 0px 10px;
	padding: 0;
}

/* Connexion */
.modal-content{
	border: 5px solid;
	border-color: #BD0A41;
}

.mt-connexion{
	color: black;
	text-align: center;
}

.modal-body{
	color: black;
	padding: 15px;
}

.modal-body input{
	padding: 5px;
}

.modal-body label{
	font-weight: normal;
}

.mdp-forget a{
	color: black;
	font-size: 13px;
}

.mdp-forget a:hover{
	color: #BD0A41;
}

header{
	background-color: #BD0A41;
	font-family: 'Alegreya Sans', serif;
	color: white;
	font-size: 18px;
}

.connexion{
	padding: 13px 13px 5px 5px;
	display: inline-block;
}

.login{
	display: inline-block;
	float: right;
}

@media screen and (max-width: 1200px){
    .login{
        float: none;
    }
}

.islogin{
	padding: 10px;
}

.islogin a{
	margin-left: 15px;
}

.islogin a:hover{
	font-weight: bold;
}

.bold{
	font-weight: bold;
}

#btn-modal-login{
	color: #BD0A41;
	background-color: white;
	border: 1px solid white;
}

#btn-modal-login:hover{
	background-color: rgba(255, 255, 255, 0.8);
}

#btn-modal-signup{
	color: white;
	background-color: #BD0A41;
	border: 1px solid white;
}

#btn-modal-signup:hover{
	background-color: rgba(255, 255, 255, 0.2);
}

/* BACKGROUND */


/* RECHERCHE */
h1{
	padding-left: 0;
}

.recherche{
	background-color: #BD0A41;
	font-family: 'Alegreya Sans', serif;
	color: white;

	padding: 20px 80px 30px 80px;

	min-height: 160px;
	min-width: 100%;

	position: absolute;
	margin-bottom: 60px;
	bottom: 0;
}

.recherche input[type="text"]{
	height: 60px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 0;
	font-size: 30px;
	padding-left : 10px;
	margin-bottom: 20px;
}

label input[type="checkbox"]{
	margin-right: 7px;
}

.recherche label{
	margin-right: 10px;
}

.recherche input[type="submit"]{
	height: 60px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 0;
	font-size: 30px;
	padding : 10px;
}

.recherche input[type="submit"]:hover{
	background-color: rgba(255, 255, 255, 0.8);
}

.preferences{
	font-family: 'Alegreya Sans', serif;
	font-size: 20px;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 15px;
	padding-left: 25px;
}

.preferences h2{
	display: inline-block;
	font-size: 26px;
	margin-top: 0;
}

.twitter-typeahead pre,
.twitter-typeahead .tt-hint {
  margin-bottom: 2px !important;
}
.tt-menu { /* conteneur */
  background: #FFF;
  color: #333;
  width: 100%; 
}
.tt-menu .tt-suggestion {
  padding: 5px 10px;
}
.tt-menu .tt-suggestion:hover {
  background: #CCC;
  cursor: pointer;
}

/* FOOTER */

footer{
	background-color: black;
	height: 60px;
	color: white;
	text-align: center;
	line-height: 60px;
	font-family: 'Alegreya Sans', serif;
	font-size: 20px;
}

.apropos{
	text-align: left;
}

.apropos a{
	color: white;
}

.apropos a:hover{
	text-decoration: none;
	color: #BD0A41;
}

.copyright{
	text-align: right;
}

/* RESULTATS RECHERCHE */

.resultat-film{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	margin-bottom: 20px;
}

.image-res-seach{
	display: inline-block;
	width: 200px;
	vertical-align: top;
}

@media screen and (max-width: 1024px) {
    .image-res-seach {
        display: block;
    }
}

.descriptif-res-search{
	display: inline-block;
	vertical-align: top;
}

.reco-vin{

}

.choisir-ce-vin{
	background-color: #BD0A41;
	border: 0;
}

.choisir-ce-vin:hover{
	background-color: rgba(189, 10, 65, 0.7);
}

/* PANNEAUX */
.col-md-6.table2{
	display: table-cell;
	float: none;
}

/* PANNEAU VIN 1 */
.vin1{
	background-color: #FFFFFF;
	border : solid 10px #9C182F;
	border-radius: 5px;
	padding: 20px;
	position: relative;
	padding-left: 70px;
}
.vin1 img{
	position: absolute;
	bottom:-20px;
	left:-60px;
}

/* PANNEAU VIN 2 */
.vin2{
	background-color: #FFFFFF;
	border : solid 10px #E5BD4B;
	border-radius: 5px;
	padding: 20px;
	position: relative;
	padding-left: 70px;
}
.vin2 img{
	position: absolute;
	bottom:-20px;
	left:-60px;
}

/* PANNEAU VIN 3 */
.vin3{
	background-color: #FFFFFF;
	border : solid 10px #FBB086;
	border-radius: 5px;
	padding: 20px;
	position: relative;
	padding-left: 70px;
}
.vin3 img{
	position: absolute;
	bottom:-20px;
	left:-60px;
}

/* PANNEAU VIN 4 */
.vin4{
	background-color: #FFFFFF;
	border : solid 10px #DECAA4;
	border-radius: 5px;
	padding: 20px;
	position: relative;
	padding-left: 70px;
}
.vin4 img{
	position: absolute;
	bottom:-20px;
	left:-60px;
}


/* PANNEAU FILM */
.descriptif-film h4{
	font-family: 'Lora', cursive;
	font-size: 22px; 
	font-weight: 700;
	font-style: italic;
	margin-bottom: 15px;
}

.descriptif-film{
	padding: 20px 40px 20px 20px;
	color: #FFFFFF;
	text-align: right;
}

#panneaufilm{
	background-color: #333333;
	border-radius: 5px;
	border : solid 10px #333333;

}

/* INSCRIPTION */

.form-inscription{
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.7);
	width: 50%;
	margin: 60px auto 160px auto;
	padding: 40px;
}

.form-inscription .control-label{
	padding-top: 0;
}

.form-inscription label, .form-inscription input, .majeur label, .majeur input{
	color: black;
	height: 27px;
	line-height: 27px;
	vertical-align: middle;
}

.checkbox input[type="submit"]{
	height: 45px;
}

.preferences-signup label, .majeur label{
	margin: 0 10px 0 0;
	padding: 0;
}

.majeur span{
	margin-left: -7px;
}

/* LAYOUT BACK */

.login-back{
	float: right;
	margin-top: 10px;
}

@media screen and (max-width: 1200px){
    .login-back{
        float: none;
        margin-left: -12px;
    }
}

.menu-back{
	margin-bottom: 5px;
}

.main-user-profil{
	background-color: rgba(0, 0, 0, 0.1);

}

/* PROFIL UTILISATEUR */

.profil-utilisateur{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	margin-bottom: 20px;
	color: black;
}

.profil-title{
	font-family: 'Alegreya Sans', serif;
	color: white;
	font-size: 50px;
	margin: 40px auto;
}

.photo-de-profil{
	margin: 20px 0px;
	height: 260px;
	width: 260px;
	overflow: hidden;
}

.photo-de-profil img{
	height: 340px;
	text-align: center;
}

.bouton-profil{
	width: 200px;
}

/* DESACTIVER COMPTE */

.disable-container{
	margin-top: 40px;
}

.disable{
	text-align: center;
	padding: 40px;
	color: black;
	background-color: rgba(255, 255, 255, 0.7);
}

/* MODIFIER LE COMPTE */

/* CAVE */

.bouteille-cave{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	margin-bottom: 20px;
	color: black;
}

/* AJOUTER UN GENRE DE VIN */

.confirm-add{
	margin-top: 15px;
	margin-bottom: 15px;
}

.genres-film-list{
	display: inline-block;
	width: 25%;
}

.input-genre-vin{
	height: 31px;
}

/* A PROPOS STAR WARS */

@keyframes background{
	0% {
	    opacity: 0;
	}
	90% {
	    opacity: 0;
	}
	100% {
	    opacity: 1;
	}
}

.container-apropos{
	min-height: calc(100vh - 60px);
	background-image : url('../../img/background.jpg');

}

@keyframes intro{
	0% {
	    opacity: 1;
	}
	90% {
	    opacity: 1;
	}
	100% {
	    opacity: 0;
	}
}

p#start {
    background-color: black;
    position: absolute;
    font-size: 300%;
    width: 100%;
    height: calc(100% - 60px);
    font-weight: 400;
    padding: 20% 0;
    text-align: center;
    color: #4ee;
    opacity: 0;
    z-index: 1;
    -webkit-animation: intro 2s ease-out;
    -moz-animation: intro 2s ease-out;
    -ms-animation: intro 2s ease-out;
    -o-animation: intro 2s ease-out;
    animation: intro 2s ease-out;
}

#titles
{
	position: absolute;
	width: 18em;
	height: 150%;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	margin-bottom: 200px;
	font-size: 350%;
	font-weight: bold;
	color: yellow;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);

	-webkit-animation: background 2s ease-out;
    -moz-animation: background 2s ease-out;
    -ms-animation: background 2s ease-out;
    -o-animation: background 2s ease-out;
    animation: background 2s ease-out;
}

#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -240%; }
}

#titlecontent
{
	position: absolute;
	top: 100%;

	animation: scroll 55s linear 2s infinite;
}

.espace{
	height: 400px
}

/* EMAIL FORGET */

.recup-mdp{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

.showErr{
	height: 50px;
	line-height: 50px;
	color: red;
	margin-left: 15px;
}

.formValid{
	height: 50px;
	line-height: 50px;
	color: green;
	margin-left: 15px;
}